<div class="container">
<p>Put the complete URL address below and add your short word that will be part of the shorter link.</p>
<p>'Shortened' link will look like: <%= request.base_url  %>/go/<i>your-short-word</i></p>

  <%= simple_form_for(@address) do |f| %>
    <div class="form-inputs">
      <%= f.input :url, label: 'Target URL'%>
    </div>
    <div class="form-inputs">
      <%= f.input :short, label: "Short word suffix"%>
    </div>
     <div class="form-actions btn btn-primary mt-4">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
